body
{
	background-image: url("indexLes.gif");
	background-repeat: no-repeat; /*no deja que se repita la foto*/
	background-size: 1400px 700px; /*tamano de la foto*/
	background-position: 0px 0px; /*posicion*/
	background-color: #996633; /*color de fondo*/
}
*
{
	color: white;
	text-align: center; /*alinea el tecto a lugar establecido*/
}


.PresentacionPrincipal
{
	margin-top: 300px;
}

.MenuPrincipal, a
{
	margin-top: 20px;
	list-style: none; /*quita los puntos de la izquierda de la listas*/
	text-decoration: none; /*quita el subrayado de la lista*/
}

a:hover /*coloca el color al pasar el mouse por la lista*/
{
	background-color: #996633; 
}

.Autor
{
	margin-top: 200px;
	margin-right: 10px;
	text-align: right;
}
